{% extends 'layout.html' %}
{% block title %} - Sign in{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
  <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.email(id="email", class="input", placeholder="Email", autocomplete="on", required=True) }}
    {{ form.password(id="password", class="input", placeholder="Password", required=True) }}
    {{ form.submit(id="submit", class="button", value="Sign in") }}
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <a href="">Forgot password?</a>
  <a href="{{ url_for('auth.signup') }}">Register</a>
{% endblock %}
{% block footer %}
{% endblock %}